
/aae-rnn-fbx/.spyproject
/aae-rnn-fbx/common/__pycache__
/aae-rnn_interactive/.spyproject
/vae-rnn-fbx/common/__pycache__
/vae-rnn-fbx/results_zed
/vae-rnn-pose/common/__pycache__
vae-rnn-pose/mocap/Mocap_class_0_time_1723812067.0081663.pkl
vae-rnn-pose/mocap/Mocap_class_0_time_1724065746.5842216.pkl
/vae-rnn-pose/results_pose2d
/vae-rnn-pose/results_pose3d
/vae-rnn/results_xsens_rhand
/vae-rnn_fbx_interactive/common/__pycache__
/vae-rnn_fbx_interactive_live_mocap/common/__pycache__
/vae-rnn_interactive_live_mocap/common/__pycache__
/aae-rnn-fbx/results_daniel_solo1
/vae-rnn-fbx/.spyproject
/aae-rnn/.spyproject
/aae-rnn/common/__pycache__
/aae-rnn/results_daniel_solo1
/aae-rnn/results_MMPos2d_HannahMartin
/aae-rnn/results_MMPos3d_HannahMartin
/aae-rnn/results_XSens_Muriel_EmbodiedMachineVariations
/aae-rnn/results_Zed_Daniel_Solo1
/aae-rnn_interactive/__pycache__
/aae-rnn_interactive/common/__pycache__
/aae-rnn_interactive/common/__pycache__
/aae-rnn_interactive/common/__pycache__
/aae-rnn_interactive/common/__pycache__
/vae-rnn/.spyproject/config/backups
/aae-rnn_interactive/common/__pycache__
/aae-rnn_interactive/common/__pycache__
/vae-rnn/.spyproject
/vae-rnn/common/__pycache__
/vae-rnn/common/__pycache__
/vae-rnn/results_MMPose2D_HannahMartin
/aae-rnn_interactive/common/__pycache__
/aae-rnn_interactive/common/__pycache__
/vae-rnn/common/__pycache__
/vae-rnn/results_MMPose3D_HannahMartin
/vae-rnn/results_Xsens_Muriel_EmbodiedMachineVariation
/vae-rnn/results_Zed_Daniel_Solo1
/vae-rnn_interactive/.spyproject
/vae-rnn_interactive/__pycache__
/vae-rnn_interactive/common/__pycache__
/vae-rnn_interactive/common/__pycache__
/vae-rnn_interactive_live_mocap/.spyproject
/vae-rnn_interactive_live_mocap/__pycache__
/aae-rnn_interactive/common/__pycache__
/vae-rnn/common/__pycache__
/vae-rnn_interactive/common/__pycache__
/aae-rnn/results_Captury_Zach_Improvisation
/aae-rnn/results_MMPose2D_HannahMartin
/aae-rnn/results_MMPose3D_HannahMartin
/aae-rnn_interactive_pos/.spyproject
/aae-rnn_interactive_pos/__pycache__
/aae-rnn_interactive_pos/common/__pycache__
/vae-rnn/results_Captury_Zach_Improvisation
/vae-rnn_interactive_pos/.spyproject
/vae-rnn_interactive_pos/__pycache__
/vae-rnn_interactive_pos/common/__pycache__
